*:not(input):not(textarea) {
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}

html, body {
  height: 100%;
  margin: 0;
  overflow: hidden;
  width: 100%;
}

#footer {
  bottom: 0;
  position: absolute;
  text-align: center;
  width: 100%;
}

#timerText {
  font-weight: 200;
  text-align: center;
}

#timerNumber {
  font-size: 96px;
  font-weight: 200;
  text-align: center;
}

#timerLocation {
  font-weight: 300;
  text-align: center;
}

#map {
  display: block;
  margin: 0 auto;
  height: 300px;
  width: 400px;
}

#edit {
  bottom: 20px;
  position: absolute;
  right: 20px;
  z-index: 1;
}

#scheduleEditor {
  height: 90% !important;
  max-height: 90% !important;
  max-width: 90%;
  top: 5% !important;
  width: 90%;
}

.modal-overlay {
  top: 0;
}

#schedule {
  table-layout: fixed;
}

#addActivity {
  bottom: 76px;
  position: absolute;
  right: 20px;
  z-index: 9999;
}

#schedule th {
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: uppercase;
  white-space: nowrap;
}

#days {
  height: 0;
}

.timeLabel {
  height: 54px;
  line-height: 54px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: uppercase;
  white-space: nowrap;
}

#schedule td {
  padding: 0;
  position: relative;
}

#schedule td p {
  margin: 0;
}

.activity {
  font-size: 12px;
  left: 0;
  margin: 0 5px;
  padding: 0 10px;
  position: absolute;
  right: 0;
  text-overflow: ellipsis;
  text-transform: none;
  white-space: nowrap;
}
